@font-face {
    font-family: Ubuntu-light-italic;
    src: url(../../fonts/Ubuntu/Ubuntu-LightItalic.ttf);
}
@font-face {
    font-family: Ubuntu-medium;
    src: url(../../fonts/Ubuntu/Ubuntu-Medium.ttf);
}
*{
    padding: 0px;
    margin: 0px;
    text-align: center;
    
}
.contenedor-juegos{
   display: grid;
   grid-template-columns: 1fr 1fr;
   width: 100%;
}
.letras-juegos{
    color: white;
    margin: 10px;
    font-family: Ubuntu-light-italic;
    
}
.contenedor-del-contenedor-juegos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.juego{
  height: 90vh ;
  width:  35vw;
  background-color: rgb(78, 80, 78);
  margin: 20px;
}
.links-de-descarga{
   height: 90vh;
   width: 55vw;
   background-color: rgb(78, 80, 78);
   margin: 20px;
}
.linea-recta-juegos{
    width: 90%;
    height: 3px;
    background-color: white;
    margin: 5px auto;
}
.espacio-sin-mas{
    height: 40%;
    width: 95%;
    background-color: rgb(91, 90, 90);
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}
#prueba{
    font-family: Ubuntu-medium;
}
.inline{
    display: flex; /* Usar Flexbox */
    align-items: center; /* Opcional */
    justify-content: center;
    margin: 15px;
    margin-left: 25px;
    margin-right: 25px; 
}
.inline h1{
    cursor: pointer;
}
.lista-general{
    list-style-type: none;
    color: white;
    margin: 3%;
    margin-left: 5%;
    font-family: Ubuntu-light-italic;
    text-align: left;
    background-color: rgb(99, 99, 99);
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
}
.lista-links{
    list-style-type: none;
    color: white;
    margin: 3%;
    margin-left: 5%;
    font-family: Ubuntu-light-italic;
    text-align: left;
    background-color: rgb(99, 99, 99);
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
    display: flex; 
    align-items: center;
    cursor: pointer;
}
img{
   width: -webkit-fill-available;
}
.fit-content {
    width: 30px; 
    height: auto;
    margin-left: 3px;
    margin-right: 6px; 
}
.active-juegos{
    text-shadow: 0px 0px 20px black,0px 0px 20px black,0px 0px 20px black;
}
@media (min-width: 1px) and (max-width: 800px){
 .contenedor-juegos{
    grid-template-columns: 1fr;
 }
 .juego{
    width: 90vw;
    background-color: rgb(78, 80, 78);
    margin: 20px;
    margin-top: 40rem;
    overflow-y: auto; 
 }
 .links-de-descarga{
    width: 90vw;
 }
 .inline{
    margin: 7px;
 }
}