.imagen {
    transition: opacity 0.5s ease-in-out;
    height: 100%;
    width: 100%;
    position: relative;
}
.contenedor-de-imagen{
    height: 100%;
    width: 100%;
}
.imagenfadeOut{
    opacity: 0;
}
.contenedor-carrousel{
    height: 100%;
    width: 100%;
}
.imagen-carrousel{
    position: relative;
    height: 100%;
    width: 100%;
}
.boton-carrousel-izquierdo {
    position: absolute;
    top: 50%; 
    left: 10px; 
    z-index: 1;
    color: white;
    transform: translateY(-50%); 
    background-color: rgba(0, 0, 0, 0.5); 
    border: none;
    cursor: pointer;
    padding: 10px;

}
.boton-carrousel-derecho {
    position: absolute;
    top: 50%; 
    right: 10px; 
    z-index: 1;
    color: white;
    transform: translateY(-50%); 
    background-color: rgba(0, 0, 0, 0.5); 
    border: none;
    cursor: pointer;
    padding: 10px;
}
