@font-face {
    font-family: cormorant;
    src: url(../../fonts/cormorant/CormorantGaramond-LightItalic.ttf);
}

* {
    margin: 0;
    padding: 0;
}

.contenedor-main {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    width: 100%;
    background-color: black; 
}
.inline-buscador {
    display: flex;
    align-items: center; 
    gap: 10px; 
}

ion-icon {
    font-size: 3rem; 
    color: white;
    
}
.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px;
    width: 30vw;
}

input {
    width: 50vw;
    padding: 10px;
    outline: none;
    border: 5px solid #CCD1E4;
    font-weight: 600;
    position: relative;
    z-index: 20;
    font-family: cormorant;
}

#listaArticulos {
    position: absolute;
    top: 100%; /* Aparece justo debajo del input */
    left: 0;
    width: 100%;
    list-style: none;
    font-weight: 600;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    z-index: 10;
}

li {
    width: 100%; 
}

.filtro {
    display: none !important;
}

.no-deco {
    text-decoration: none !important;
    color: white !important;
    background-color: rgb(78, 74, 74);
    padding: 5px;
    display: block;  
    width: 100%;   
    box-sizing: border-box;
    border: white 2px ridge;
    border: 5px inset black;
    font-size: 15px;
    font-family: cormorant;
}
#color-de-buscador{
    color: white !important;
}
@media (min-width: 1px) and (max-width: 500px){
    .no-deco{
        height: fit-content;
        width: 30vh;
    }
}