@keyframes Levitar{
        0% {
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            transform: translatey(0px);
        }
    
        50% {
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            transform: translatey(-20px);
        }
    
        100% {
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            transform: translatey(0px);
        }
}
.imagen-bienvenida {
    text-align: center;
}
.imagen-bienvenida img{
    aspect-ratio: 1/1;
    width: 25vw;
    border-radius: 10px ;
    margin: 40px;
}
.bienvenida-titulo{
    color: white;
    text-align: center;
    font-family: Jost;
    font-style: italic;
    margin: 10px;
}
#capigames{
    animation: Levitar 5s infinite;
}
@font-face {
    font-family: Jost;
    src: url(../../fonts/Jost);
}