@keyframes Levitar{
    
}
.imagen-bienvenida {
    text-align: center;
}
.imagen-bienvenida img{
    aspect-ratio: 1/1;
    width: 25vw;
    border-radius: 10px ;
    margin: 40px;
}
.bienvenida-titulo{
    color: white;
    text-align: center;
    font-family: Jost;
    font-style: italic;
    margin: 10px;
}
#capigames{
    animation: Levitar 10s infinite;
}
@font-face {
    font-family: Jost;
    src: url(../../fonts/Jost);
}