*{
    margin: 0px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center; 
}


.grid {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center; 
    justify-items: center; 
    gap: 1px; 
}
.card {
    height: 35vh;
    width: 30vw;
    margin-bottom: 15px; 
    margin-top: 5px;
    background-color: rgb(50, 47, 47);
    border: 2px solid black;
    border-radius: 10px;
}
.titulo{
    color: white;
    margin: 0px;
    text-align: center;
    text-decoration: none;
    font-family: Ubuntu-italic;
    font-size:x-large;
}
.image{
    width: 100%;
    height: 80%;
    margin: 0px;
}
@font-face {
    font-family: Ubuntu-italic;
    src: url(../../fonts/Ubuntu/Ubuntu-Italic.ttf);
}
@font-face {
    font-family: Ubuntu-bold;
    src: url(../../fonts/Ubuntu/Ubuntu-Bold.ttf);
}
@font-face {
    font-family: Ubuntu-light;
    src: url(../../fonts/Ubuntu/Ubuntu-Light.ttf);
}
@font-face {
    font-family: Jost;
    src: url(../../fonts/Jost-Italic-VariableFont_wght.ttf);
}
@media (min-width: 1px) and (max-width: 700px){
    .grid{
        grid-template-columns: 1fr;
    }
    .card{
        width: 80vw;
    }
}
@media (min-width: 701px) and (max-width: 950px){
    .grid{
        grid-template-columns: 1fr 1fr;
    }
    .card{
        width: 48vw;
    }
}