.paginas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.pagina{
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: -4px -4px -4px white;
    padding: 3px;
    margin: 2vb;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    color: white;
    background-color: rgb(50, 47, 47);
    text-decoration: none;
}